.sidebar {
    background-color: #9ff0c8;
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    overflow: hidden;
}

main.col-9,
main.col-md-10 {
    margin-left: 400px;                 
    width: calc(100% - 400px);          
    min-height: 100vh;
    overflow-y: auto;
    margin-top: -24px;
    
}


.sidebar .nav-link {
    color: black;
    border-radius: 30px;
    padding: 12px 20px;
    font-size: 20px;
}

.sidebar .nav-link.active {
    background-color: #00c853;
    color: white;
}

.sidebar .nav-link:hover {
    background-color: #7be6b0;
}

.icon-menu {
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.logo {
    width: 60px;          
    height: auto;
    margin-left: 1px;    
    margin-top: 20px;     
}

