
.hangeul-wrapper {
    width: 100%;
    max-width: 100%;      
    box-sizing: border-box;
}


main {
    height: 1px;
}

.hangeul-header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 35px 25px; 
    margin-left: -24px;
    margin-right: -24px;
    background-image: url('/images/icons/Welcome.png');
    background-size: 2000px;
    background-position-y: -24px;
    background-position-x: -330px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


.hangeul-section-title {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
}

.hangeul-section-title span {
    flex: 1;
    height: 3px;
    background: #000;
}

.hangeul-section-description {
    margin-bottom: 40px;
    text-align: center;
}

.hangeul-section-title h3 {
    margin: 0;
    font-weight: 600;
}

/* GRID */
.hangeul-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 34px;
    margin-bottom: 50px;
    
   
}

.hangeul-card {

    border-radius: 14px;
    padding: 16px 30px;
    text-align: center;
    background: #fff;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 0 8px 10px #9ff0c8;
    border-bottom: 5px solid #9ff0c8;  
}

.hangeul-card:active {
    transform: scale(0.95);
    background: #eafff1;
}


.hangeul-card:hover {
    background: #f5fff8;
}

/* HURUF */
.hangeul-card .huruf {
    font-size: 32px;
    font-weight: 800;
}

/* LATIN */
.hangeul-card .latin {
    margin-top: 4px;
    font-size: 30px;
}
