.home-wrapper {
    width: 100%;
    max-width: 100%;      
    box-sizing: border-box;
}


main {
    height: 1px;
}

.home-header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 35px 25px; 
    margin-left: -24px;
    margin-right: -24px;
    background-image: url('/images/icons/Welcome.png');
    background-position-y: -24px;
    background-position-x: -320px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.home-progress {
    margin-top: 35px;      
    background: #ffffff;
    border-radius: 16px;
    padding: 24px;          
    box-shadow: 0 8px 10px #9ff0c8;
    border-bottom: 5px solid #9ff0c8; 
}


.progress-bar {
    height: 45px;
    background: #d9ded9;
    border: 3px solid #000000;
    border-radius: 999px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: #ffd600;
    border-radius: 999px;
}

.progress-text {
    margin-top: 15px;
    display: block;
    font-weight: 600;
}


.home-premium {
    margin-top: 30px;       
    display: flex;
    justify-content: flex-end;
}


.premium-card {
    width: 230px;
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    text-align: center;

    box-shadow: 0 13px 15px #b1b1b1;
    border-bottom: 5px solid #b1b1b1; 
}

.premium-img {
    height: 120px;
    display: flex;
    border: 3px solid #ddd;
    background: #f0f5f0;
    border-radius: 12px;
    margin-bottom: 14px;
}
