.home-wrapper {
    width: 100%;
    max-width: 100%;      
    box-sizing: border-box;
}


.home-header {
    margin-bottom: 28px;   
}

.home-header h1 {
    font-size: 28px;
    margin-bottom: 7px;
}

.home-welcome {
    margin-top: 35px;       
}


.home-progress {
    margin-top: 35px;      
    background: #ffffff;
    border-radius: 16px;
    padding: 24px;          
    border: 7px solid #d9f6d5;
}


.progress-bar {
    height: 45px;
    background: #d9ded9;
    border: 3px solid #000000;
    border-radius: 999px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: #ffd600;
    border-radius: 999px;
}

.progress-text {
    margin-top: 15px;
    display: block;
    font-weight: 600;
}


.home-premium {
    margin-top: 58px;       
    display: flex;
    justify-content: flex-end;
}


.premium-card {
    width: 230px;
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    border: 4px solid #ddd;
}

.premium-img {
    height: 120px;
    display: flex;
    border: 3px solid #ddd;
    background: #f0f5f0;
    border-radius: 12px;
    margin-bottom: 14px;
}
