

.lesson-wrapper {
    padding: 30px;
}

.lesson-header {
    text-align: center;
    margin-bottom: 30px;
}

.lesson-header h1 {
    font-size: 28px;
    font-weight: bold;
}

/* LIST */
.vocab-list {
    display: grid; /* diubah */
    grid-template-columns: repeat(2, 1fr); /* ditambah */
    gap: 14px;
}


/* CARD */
.vocab-card {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 14px;
    padding: 18px 20px;

    box-shadow: 0 6px 0 #9ff0c8; /* diubah dikit */
    border: 2px solid #dff5ea;  /* ganti dari border-bottom */

    font-size: 18px;
    cursor: pointer; /* tambahan kecil */
    transition: 0.2s ease;
}


.vocab-card:hover {
    transform: translateY(-4px);
    border-color: #00ff11;
}


.vocab-number {
    font-weight: bold;
    margin-right: 15px;
}

.vocab-text {
    display: flex;
    flex-direction: column;
}

.vocab-korean {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
}

