body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    width: 34%;
    background-image: url("../images/korea.jpg");
    background-color: #7be6b0;
    background-size: cover;
    background-position: center;
}

.right {
    width: 66%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 60%;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 14px;
    outline: none;
}

input:focus {
    border-bottom-color: #4CAF50;
}

.forgot {
    text-align: right;
    margin-bottom: 20px;
}

.forgot a {
    text-decoration: none;
    color: #3f51b5;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #00c853;
    border: none;
    border-radius: 8px;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
}

.register {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.register a {
    color: #3f51b5;
    text-decoration: none;
}
