.profile-wrapper {
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    font-size: 25px;
}

.logout-form {
    margin: 0;
}

.profile-logout {
    background: none;
    border: 1px solid #e5f0e5;
    width: 100%;
    text-align: left;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.profile-item:hover {
    transform: translateY(-5px);
    border-color: #00ff11; 
}


.profile-header {
    background: #f1f0f0;
    border-radius: 16px;
    border: 2px solid #000;
    padding: 20px;
    position: relative;
}

.profile-side{
    width: 40px;
    height: 40px;
    position: relative;
    top: 60px;

}
.profile-avatar {
    width: 150px;
    height: 150px;
}

.mb-0 {
    font-size: 50px;
}

.btn-warning.btn-sm {
    font-size: 15px;
    padding: 6px 12px;
    border: 1px solid #000;
}

.profile-menu {
    background: #f1f0f0;
    border-radius: 16px;
    border: 2px solid #000000;
    padding-top: 40px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 24px;
    margin-bottom: 24px;
    
}



.profile-item {
    display: flex;
    align-items: center;
    padding: 14px 18px;
    border-radius: 12px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    box-shadow: 0 8px 10px #9ff0c8;
    border-bottom: 5px solid #9ff0c8;  
    margin-bottom: 32px;         
    box-sizing: border-box;
}

.item-img{
    width: 60px;
    height: 60px;
    margin-right: 15px;

}



.profile-item .arrow {
    margin-left: auto;
    width: 60px;
    height: 60px;
}

.btn-back-custom {
        background-color: white;
        color: #6c757d;
        border: 1px solid #e9ecef;
        transition: all 0.3s ease;
    }
    .btn-back-custom:hover {
        background-color: #f8f9fa;
        color: #198754;
        border-color: #198754;
        transform: translateY(-2px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08) !important;
    }
    .btn-back-custom:hover .icon-animate {
        transform: translateX(-3px);
    }
    .icon-animate {
        transition: transform 0.3s ease;
    }



    