.profile-wrapper {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.logout-form {
    margin: 0;
}

.profile-logout {
    background: none;
    border: 1px solid #e5f0e5;
    width: 100%;
    text-align: left;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.profile-logout:hover {
    background-color: #f5fff8;
}


.profile-header {
    background: #f1f0f0;
    border-radius: 16px;
    border: 2px solid #000;
    padding: 20px;
    position: relative;
}

.profile-side{
    width: 40px;
    height: 40px;
    position: relative;
    top: 60px;

}
.profile-avatar {
    width: 150px;
    height: 150px;
}

.profile-info h5 {
    font-weight: 600;

}

.profile-menu {
    background: #f1f0f0;
    border-radius: 16px;
    border: 2px solid #000000;
    padding-top: 40px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 24px;
    margin-bottom: 24px;
    
}



.profile-item {
    display: flex;
    align-items: center;
    padding: 14px 18px;
    border-radius: 12px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border: 7px solid #d9f6d5;   
    margin-bottom: 32px;         
    box-sizing: border-box;
}

.item-img{
    width: 60px;
    height: 60px;
    margin-right: 15px;

}



.profile-item .arrow {
    margin-left: auto;
    width: 60px;
    height: 60px;
}

.profile-item.logout {
    background: none;
    width: 100%;
    border: none;
    cursor: pointer;
}
