.progress-wrapper {
    width: 100%;
    max-width: 100%;      
    box-sizing: border-box;
}


main {
    height: 1px;
}

.progress-header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 35px 25px; 
    margin-left: -24px;
    margin-right: -24px;
}


.progress-progress {
    margin-top: 35px;      
    background: #ffffff;
    border-radius: 16px;
    padding: 24px;          
    box-shadow: 0 8px 10px #9ff0c8;
    border-bottom: 5px solid #9ff0c8; 
}


.progress-bar {
    height: 45px;
    background: #d9ded9;
    border: 3px solid #000000;
    border-radius: 999px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: #ffd600;
    border-radius: 999px;
}

.progress-text {
    margin-top: 15px;
    display: block;
    font-weight: 600;
}

.stats-card {
    background: #fff;
    border-radius: 14px;
    padding: 24px;
    width: 100%;
    box-shadow: 0 8px 10px #9ff0c8;
    border-bottom: 5px solid #9ff0c8; 
    margin-top: 40px; 
}

.stats-card h3 {
    margin: 0 0 30px 0;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.chart-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end; 
    height: 160px; 
    padding-bottom: 10px;
    padding-left: 10px; 
    padding-right: 10px;
}

.chart-bar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; 
    height: 100%; 
    width: 40px; 
    position: relative;
}

.bar {
    width: 12px; 
    background-color: #00ff11; 
    border-radius: 10px; 
    margin-bottom: 10px; 
    transition: height 0.5s ease; 

    min-height: 4px; 
}

.day {
    font-size: 14px;
    color: #666;
    font-weight: 500;
}

